body
.c_gl_p{
  position:absolute;
  top:100px;
  left:30px;
  width:250px;
  height:100%;
  border-radius:10px;
  border:2px solid black;
  background-color:#1090ff;
  overflow:hidden;
}
.c_p{
  position:absolute;
  border:2px solid black;
  
}
