body
#osnova{
    position:absolute;
    left:0px;
    top:0px;
    width:100%;
    height:100%;
    border:0px;
    padding:0px;
    
}
#name_sait1 {
    position: absolute;
    right: 60px;
    top: 60px;
    font-size: 55px;
    font-weight: 800;
    font-style: italic;
    color: #c0ffe0;
    
}
#name_sait2 {
    position: absolute;
    right: 30px;
    top: 120px;
    font-size: 35px;
    font-style: italic;
    color: #c0ffe0;
}
#name_sait1_teni {
    position: absolute;
    right: 60px;
    top: 60px;
    font-size: 55px;
    font-weight: 800;
    font-style: italic;
    color: black;
    filter: blur(10px);
}

#name_sait2_teni {
    position: absolute;
    right: 30px;
    top: 120px;
    font-size: 35px;
    font-style: italic;
    color: #c0ffe0;
}


#razdel_teni {
    position: absolute;
    top: 142px;
    padding-left: 12px;
    
    font-size: 45px;
    font-style: italic;
    color: #102040;
}
#razdel {
    position: absolute;
    top: 140px;
    padding-left: 10px;
    font-size: 45px;
    font-style: italic;
    color: #c0e0ff;
}


.c_gl_p{
  position:absolute;
  top:200px;
  left:10px;
  width:260px;
  height:300px;
  border-radius:10px;
  background-color:#c0d0ff;
  font-size:22px;
  padding-left:10px;
  padding-top:10px;

}
.ten_str {
    position: absolute;
    width: 2px;
    left: 257px;
    background-color: black;
    filter: blur(3px);
    visibility:visible;
}
#ten_vibronogo_p {
    position: absolute;
    width:240px;
    left: 18px;
    background-color: black;
    filter: blur(8px);
}
.c_p{
position:absolute;
  border:2px solid #104070;
  width:222px;
  padding:3px;
  font-size:24px;
  left:30px;
  color:#104070;
  border-right:0px;
  border-top-left-radius:10px;
  border-bottom-left-radius:10px;
  
  background-color:#a0c0ff;
}
.c_ten {
    position: absolute;
    width:350px;
    height:200px;
    top:0px;
    left:0px;
    background-color:black;
    filter: blur(8px);
    visibility:hidden;
}
#ten_stranici {
    position: absolute;
    height:100%;
    left:260px;
    right:250px;
    top: 225px;
    background-color: black;
    filter: blur(8px);
}

#stranica {
    position: absolute;
    height: 100%;
    left: 260px;
    right: 250px;
    top: 220px;
    overflow: hidden;
    border-radius: 5px;
    background-color: #102040;
    visibility: visible;
}

#text_stranici {
    width: 100%;
    background-color: white;
    line-height: 26px;
    word-spacing: 5px;
    text-indent: 20px;
    font-size: 20px;
    border-radius: 3px;
    padding-left: 10px;
    padding-right: 10px;
    visibility: visible;
}
.c_ten_okno_name{
    position:absolute;
    color:black;
}
.c_svet_okna{
    position:absolute;
    top:3px;
    left:4px;
    right:4px;
    height:3px;
    background-color:white;
    filter:blur(3px);
}
.c_ten_okna {
    position: absolute;
    top:30px;
    left: 1px;
    right: 1px;
    height: 3px;
    background-color: black;
    
    filter: blur(3px);
}
.c_okno_s_boku {
    position: absolute;
    background-color: #40a0d0;
    color: #d0ffe0;
    right: -2px;
    width: 10px;
    
    border-radius: 10px;
    border-bottom-right-radius: 0px;
    border-top-right-radius: 0px;
    padding:15px;
    text-align:center;
    border: 2px solid #104070;
    font-size: 22px;
    font-weight: 500;
    line-height:17px;
    visibility: hidden;
}
.c_kopiy_okno {
    position: absolute;
    background-color: #40a0d0;
    width: 350px;
    
    border-radius: 10px;
    border: 2px solid #104070;
    font-size: 22px;
    font-weight: 500;
    
    visibility: visible;
}
.c_kopiy_okno_text {
    position: absolute;
    right: 0px;
    left: 0px;
    top: 35px;
    background-color: #fff8e0;
    font-language-override: normal;
    font-display: auto;
    overflow: hidden;
    font-size: 17px;
    visibility: visible;
}

.c_okno {
    position: absolute;
    background-color: #40a0d0;
    right: 5px;
    width: 245px;
    height: 200px;
    border-radius: 10px;
    border: 2px solid #104070;
    font-size: 22px;
    font-weight: 500;
    visibility: visible;
}

.c_okno_name {
    position: absolute;
    color:#d0ffe0;
    padding-left: 10px;
    visibility: visible;
}

.c_okno_text {
    position: absolute;
    right: 0px;
    left: 0px;
    
    top: 35px;
    background-color:#fff8e0;
    font-language-override: normal;
    font-display: auto;
    
    overflow: hidden;
    font-size: 17px;
    visibility: visible;
}
.c_okno_knopki{
    position:absolute;
    width:20px;
    height:20px;
    top:3px;
    
    border:2px groove #306090;
}

.c_data_novost {
    width: 100%;
    visibility: visible;
}
#ten_line_pomoshnik {
    position: absolute;
    left: 0;
    width: 210px;
    bottom: 15px;
    height: 5px;
    background-color: black;
    filter: blur(5px);
}
#line_pomoshnik {
    position: absolute;
    left: 0;

    width: 200px;
    bottom:20px;
    height:1px;
}
#pomoshnik {
    position: absolute;
    bottom: 14px;
    left: 80px;
}
#ten_pomoshnika{
    position:absolute;
    width:100px;
    height:100px;
    bottom:0px;
    left:20px;
    filter:blur(20px);
    background-color:black;
    border-radius:50%;

}
#telo {
    position: absolute;
    width: 100px;
    height: 100px;
    bottom: 10px;
    left: 0px;
    background-color: #d0c040;
    border-radius: 50%;
    border: 2px solid #f37a29;
}
#svet_tela {
    position: absolute;
    width: 80px;
    height: 80px;
    bottom: 20px;
    left: 10px;
    filter: blur(15px);
    background-color: #ffff60;
    border-radius: 50%;
}
#glaz_l {
    position: absolute;
    width: 20px;
    height: 20px;
    bottom: 60px;
    left: 25px;
    background-color: black;
    border-radius: 50%;
    
}

#glaz_r {
    position: absolute;
    width: 20px;
    height: 20px;
    bottom: 60px;
    left: 60px;
    background-color: black;
    border-radius: 50%;
}
.c_svet_glaz {
    position: absolute;
    width: 5px;
    height: 5px;
    top: 5px;
    left: 5px;
    background-color: white;
    border-radius: 50%;
    filter:blur(2px);
}
#sheka_l {
    position: absolute;
    width: 15px;
    height: 15px;
    top: 20px;
    left: -10px;
    filter: blur(5px);
    background-color: orangered;
    border-radius: 50%;
    visibility:hidden;
}
#sheka_r {
    position: absolute;
    width: 15px;
    height: 15px;
    top: 20px;
    right: -10px;
    filter: blur(5px);
    background-color: orangered;
    border-radius: 50%;
    visibility: hidden;
}


#guba_1 {
    position: absolute;
    width: 20px;
    height: 8px;
    top: -50px;
    left: 42px;
    
    border-radius: 50%;
    border-bottom:3px solid red;
}

#ten_menu {
position:absolute;
width:100%;
height:10px;
top:55px;
background-color:black;
filter:blur(14px);
}
#ten_m {
    position: absolute;
    width: 260px;
    
    top: 60px;
    background-color: black;
    filter: blur(15px);
    visibility:hidden;
}

#menu_line {
    position: absolute;
    top: 0px;
    left: 0px;
    width: 100%;
    height: 55px;
    background-color: #80c0ff;
}

#menu {
    position: absolute;
    top: 0px;
    left: 0px;
    width: 70%;
    height: 40px;
    
    
    background-color: #80c0ff;
    padding-top:10px;
    padding-left: 20px;
    font-size: 26px;
    font-weight: 700;
}

.c_m_g {
    text-align: center;
    padding-left: 5px;
    padding-right: 5px;
    
    visibility: visible;
}

.c_m_o {
    background-color: #a0d0ff;
    top: 44px;
    width: 260px;
    font-size: 24px;
    font-weight: 500;
    border: 2px solid black;
    position: absolute;
    overflow: hidden;
    visibility: hidden;
}

.c_m {
    background-color: #a0d0ff;
    left: 0px;
    width: 100%;
    padding-left: 5px;
    padding-top: 1px;
    padding-bottom: 1px;
    border: 0;
    position: absolute;
    overflow: hidden;
    visibility: hidden;
}

.c_m_line_0 {
    position: absolute;
    width: 100%;
    top: 56px;
    visibility: hidden;
}

.c_m_line_1 {
    position: absolute;
    width: 100%;
    top: 58px;
    visibility: hidden;
}

.c_m_line_2 {
    position: absolute;
    width: 100%;
    top: 126px;
    visibility: hidden;
}

.c_m_line_3 {
    position: absolute;
    width: 100%;
    top: 128px;
    visibility: hidden;
}

.c_m_line_4 {
    position: absolute;
    width: 100%;
    top: 546px;
    visibility: hidden;
}

.c_m_line_5 {
    position: absolute;
    width: 100%;
    top: 548px;
    visibility: hidden;
}
#predupr{
    position:absolute;
    top:300px;
    left:150px;
   right:150px;
    font-size:100px;
    color:red;
    text-align:center;
    border:5px groove red;
}
.c_razvert_a {
    position: absolute;
    width: 4px;
    height: 4px;
    right: 2px;
    bottom: 2px;
    border: 2px dotted #306090;
}

.c_razvert_b {
    position: absolute;
    width: 14px;
    height: 14px;
    left: 2px;
    top: 2px;
    background-color: #c0ffe0;

}
.c_razvert_c {
    position: absolute;
    width: 8px;
    height: 8px;
    right: 2px;
    bottom: 2px;
    background-color:#c0ffe0;
}

.c_razvert_d {
    position: absolute;
    width: 10px;
    height: 10px;
    left: 2px;
    top: 2px;
    border:2px dotted #306090;
}

.c_svert_a {
    position: absolute;
    width: 5px;
    height: 12px;
    right: 6px;
    bottom: 5px;
    background-color: #c0ffe0;
    border-top-left-radius:3px;
    border-bottom-left-radius:3px;
    border-top-right-radius:0px;
    border-bottom-right-radius:0px;
}

.c_svert_b {
    position: absolute;
    width: 2px;
    height: 18px;
    right: 4px;
    top: 2px;
    
    background-color: #306090;
}
