body

#okna_0 {
    position: absolute;
    width: 400px;
    height: 100%;
    right: 0px;
    border: 2px solid #104070;
    border-right:0px;
    border-top:0px;
    border-bottom:0px;
    background-color: #5080b0;
    overflow:hidden;
    visibility: visible;
}
#dvigenie_paneli_0 {
    position: absolute;
    width: 25px;
    height: 35px;
    top: 160px;
    right: 250px;
    border: 2px solid #104070;
    background-color: #5080b0;
    border-radius: 8px;
    
}
#dvig_ris_0{
    position:absolute;
    width:5px;
    height:25px;
    top:5px;
    left:8px;
    border:2px solid #104070;
    border-top:0px;
    border-bottom:0px;
}
#razdel_teni_0 {
    position: absolute;
    top: 122px;
    left: 10px;
    padding-left: 12px;
    font-size: 45px;
    font-style: italic;
    color: #102040;
}
#razdel_0 {
    position: absolute;
    left:10px;
    top: 120px;
    padding-left: 10px;
    font-size: 45px;
    font-style: italic;
    color: #c0e0ff;
}
#kn_za_str2_0 {
    position: absolute;
    top: 0px;
    width: 50px;
    height: 35px;
    background: #b0c0f0;
    border: 2px solid #305060;
    border-top: 0px;
    border-radius: 10px;
    border-top-left-radius: 0px;
    border-top-right-radius: 0px;
}

#ris_kn_za_str2_0 {
    position: absolute;
    top: 5px;
    left: 15px;
    width: 15px;
    height: 15px;
    border: 2px solid #304050;
    border-radius: 50%;
    border-bottom: 0px;
    border-bottom-left-radius: 0px;
    border-bottom-right-radius: 0px;
    border-right: 0px;
}

#ris_min2_0 {
    position: absolute;
    background: #b0c0f0;
    border: 2px solid #304050;
    border-left: 0px;
    border-right: 0px;
    border-bottom: 0px;
    top: 21px;
    left: 13px;
    width: 6px;
    height: 10px;
}

#ris_v2_0 {
    position: absolute;
    top: 12px;
    left: 10px;
    color: #304050;
}
#ris_str2_0 {
    position: absolute;
    left: 10px;
    width: 30px;
    top: 12px;
    height: 2px;
    background: #304050;
}

#kn_za_str_0 {
    position:absolute;
    top:0px;
    width:50px;
    height:35px;
    background:#b0c0f0;
    border:2px solid #305060;
    border-top:0px;
    border-radius:10px;
    border-top-left-radius:0px;
    border-top-right-radius:0px;
    
}
#ris_kn_za_str_0{
    position:absolute;
    top:5px;
    left:15px;
    width:15px;
    height:20px;
    border:2px solid #304050;
    
    border-radius:50%;
    border-bottom:0px;
    border-bottom-left-radius:0px;
    border-bottom-right-radius:0px;
    border-right:0px;

}
#ris_min_0{
    position:absolute;
    background:#b0c0f0;
    border:2px solid #304050;
    border-left:0px;
    border-right:0px;
    border-bottom:0px;
    top:10px;
    left:28px;
    width:6px;
    height:10px;
}
#ris_v_0{
    position:absolute;
    top:1px;
    left:24px;
    color:#304050;
}
#ris_str_0{
    position:absolute;
    left:10px;
    width:30px;
    top:20px;
    height:2px;
    background:#304050;
}


.c_h_0{
    position: absolute;
    border:2px solid #104070; 
    border-bottom-color: #e0f0ff;
    border-left: 0px;
    border-right: 0px;
    width:100%;
    margin-left: -20px;
}
.c_gl_p_0{
  position:absolute;
  top:200px;
  left:30px;
  
  height:300px;
  border-radius:10px;
  background-color:#c0d0ff;
  font-size:26px;
  padding-left:20px;
  padding-top:10px;

  color:black;
  cursor: default;
}
#gl_p_metka_0{
    position: absolute;
    border: 2px solid #904020;
    background: red;
    border-radius:8px;
    width: 8px;
    height: 8px;
    margin-left: -5px;

}
.c_ten_vibronogo_p_0 {
    position: absolute;
    
    left: 40px;
    top:264px;
    background-color: black;
    border-radius:40%;
    filter: blur(8px);
}
.c_ogl_vibrono_copiy_0 {
    position: absolute;
    border: 2px solid #104070;
    padding: 5px 15px;
    top:264px;
    font-size: 28px;
    left: 40px;
    color: #b0f0e0;
    
    border-radius: 10px;
    
    text-align: center;
    background-color: #3090c0;
}

.c_ten_p_0 {
    position: absolute;
    width: 6px;
    
    height:38px;    
    background-color: black;
    filter: blur(3px);
}
.c_p_0{
position:absolute;
  
  border: 2px solid #104070;
  border-radius: 10px 0px 0px 10px;
  padding:3px;
  font-size:26px;
  left:40px;
  color:#104070;
  text-align:left;
  background-color:#a0c0ff;
}
.c_ten_0 {
    position: absolute;
    width:350px;
    height:20px;
    top:0px;
    left:0px;
    background-color:black;
    border-radius:10px;
    filter: blur(10px);
    visibility:hidden;
}
#ten_stranici_0 {
    position: absolute;
    height:100%;
    left:126px;
    right:270px;
    top: 240px;
    background-color: black;
    filter: blur(8px);
}

#stranica_0 {
    position: absolute;
    
    left: 125px;
    right: 280px;
    top: 240px;
    overflow: hidden;
    border-radius: 5px;
    background-color: #102040;
    visibility: visible;
}
#razd_1_p_1_zagl_0{
    width:100%;
    text-align:center;

}
#text_stranici_0 {
    width: 100%;
    background-color: white;
    border-radius: 3px;
    visibility: visible;
}
.tm_0{
    display:none;
}

.tot_0{
    color:black;
    width:100%;
    
}
#pom{
    position: absolute;
    width: 40px;
    height: 60px;
    background-color: white;
    border: 2px solid #136;
    left:20px;
    bottom: 0px;

}
#porydok{
    padding: 0px;
    

}
#kn_tp_na_str_1,#kn_tp_na_str_2,#kn_tp_na_str_3,#kn_tp_na_str_4,#kn_tp_na_str_5,#kn_tp_na_str_6,#kn_tp_na_str_7,#kn_tp_na_str_8{
    position:absolute;
    border:2px solid #136;
    background-color: #d0e0ff;
    border-radius: 5px;
   padding-right: 15px;
    padding-left: 15px;
   padding-bottom: 3px;
 text-indent: 0px;   
   text-align: center;
    overflow:hidden ;
    cursor:pointer;
}

#kn_tp_na_str_1{
    left:-2px;
}
#kn_tp_na_str_2{
    left: 110px;
}
#kn_tp_na_str_3{
    right: 140px;
}

#kn_tp_na_str_4{
    right:-2px;
}
#kn_tp_na_str_5{
    left:-2px;
}
#kn_tp_na_str_6{
    left: 110px;
}
#kn_tp_na_str_7{
    right: 200px;
}
#kn_tp_na_str_8{
    
    right: -2px;
}

#ten_kn_nazad_0 {
    position: absolute;
    background-color: black;
    width: 50px;
    height: 60px;
    border-radius: 40%;
    filter:blur(5px);
    
}
#kn_nazad_0 {
    position: absolute;
    background-color: #5080b0;
    border: 2px solid #104070;
    width: 45px;
    height: 45px;
    border-radius: 40%;
    color:#104070;
    font-size: 40px;
    font-weight: 800;
    text-align:center;
    padding-top:10px;
    
}
.c_svet_okna_0{
    position:absolute;
    top:3px;
    left:4px;
    right:4px;
    height:3px;
    background-color:white;
    filter:blur(3px);
}
.c_ten_okna_0 {
    position: absolute;
    top:30px;
    left: 1px;
    right: 1px;
    height: 3px;
    background-color: black;
    
    filter: blur(3px);
}


.c_okno_0 {
    position: absolute;
    background-color: #40a0d0;
    left: 20px;
    width: 240px;
    height:200px;
    border-radius: 10px;
    border: 2px solid #104070;
    font-size: 22px;
    font-weight: 500;
    visibility: visible;
}

.c_okno_name_0 {
    position: absolute;
    color:#d0ffe0;
    padding-left: 10px;
    visibility: visible;
}

.c_okno_text_0 {
    position: absolute;
    right: 0px;
    left: 0px;
    
    top: 35px;
    background-color:#fff8e0;
    font-language-override: normal;
    font-display: auto;
    
    overflow: hidden;
    font-size: 17px;
    visibility: visible;
}
.c_okno_knopki_0 {
    position: absolute;
    width: 20px;
    height: 20px;
    top: 3px;
    border: 2px groove #306090;
    background-color: #40a0d0;
}


#predupr_0{
    position:absolute;
    top:300px;
    left:150px;
   right:150px;
    font-size:100px;
    color:red;
    text-align:center;
    border:5px groove red;
}
.c_na_meste_a_0{
    position:absolute;
    width:9px;
    height:6px;
    right:3px;
    top:8px;
    background-color:#c0ffe0;
}
.c_na_meste_b_0 {
    position: absolute;
    width:5px;
    height:2px;
    top:10px;
    left:3px;
    background-color:#306090;
}
.c_na_meste_c_0 {
    position: absolute;
    width: 2px;
    height: 10px;
    left: 8px;
    top: 6px;
    background-color: #306090;
} 
.c_svert_a_0 {
    position: absolute;
    width: 5px;
    height: 12px;
    right: 6px;
    bottom: 5px;
    background-color: #c0ffe0;
    border-top-left-radius:3px;
    border-bottom-left-radius:3px;
    border-top-right-radius:0px;
    border-bottom-right-radius:0px;
}
.c_svert_b_0 {
    position: absolute;
    width: 2px;
    height: 18px;
    right: 4px;
    bottom: 2px;
    background-color: #306090;
}
.peredel_0{
    position:absolute;
    border: 2px inset green;
}
.svet_nadpisi_0{
    position:absolute;
    line-height: 30px;
    word-spacing:5px;
    color:white;
    font-size: 24px;    
    filter:blur(3px);
}
.kn_stran_0,#isk_0{
background-color:#40a0d0;
    color:#d0ffe0;
    border:2px solid #104070;
    border-radius:10px;
    padding-top: 4px;
    padding-bottom: 8px;
    padding-left: 10px;
    padding-right: 10px;
    
    line-height: 30px;
    word-spacing:5px;

    font-size: 24px;    
    cursor:pointer;
}
.kn_stran_0{
position:absolute;
left:10px;
top:100px;
}

.reshenie_div_0{
    border:2px solid #5000a0;    
    padding-top: 4px;
    padding-bottom: 0px;
    padding-left: 15px;
    padding-right: 3px;
}
#ten_metka_0{
position:absolute;
    background-color: black;
    filter: blur(10px);
    visibility:hidden;
}
#metka_div_0{
    position:absolute;   
    background:#efffe0;    
    border:2px solid #00a010;    
    visibility:hidden;
    border-radius: 10px;
}    
#metka_treug_0{
    position:absolute;
    visibility:hidden;
}

#ten_interes_0{
    position:absolute;
    background-color: black;
    filter: blur(10px);
    visibility:hidden;
}
#interes_div_0{
    position:absolute;   
    background:#ffefe0;    
    border:2px solid #804020;    
    border-radius: 10px;
    visibility:hidden;
}
#interes_treug_0{
    position:absolute;
    visibility:hidden;
   
}
#kn_zakrit_0{
    text-align:center;
    width:30px;
    color:red;
    border:2px solid red;
    cursor:pointer;
}
.nowosti_0 {
    margin-top: 10px;
    background: #906010;
    width: 100%;
    text-align: center;
    overflow: hidden;
    cursor: pointer;
}
.nowosti_zagolovok_0 {
    width: 70%;
    height: 100%;
    background:#d0ffe0;
    font-style:italic;
    font-weight:bold;
}

.nowosti_data_0 {
    background: #c0e0ff;
    width: 29%;
    height: 70%;
    padding: 5px;
}
.nowosti_text_0 {
    background: #fff8e0;
    border:2px solid #906010;
    border-top:0px;
    padding:0px 10px 0px 10px;
    line-height: 30px;
    word-spacing:5px;
    text-indent: 20px;
    font-size: 20px;
}
.istoriy_0{
    width:100%;
    background:#103090;
    padding:3px;
    cursor:pointer;
}
.istoriy_nomer_0,.istoriy_vizit_0,.istoriy_time_0{padding:10px;}
.istoriy_nomer_0{
    background:#f0f9ff;
}
.istoriy_vizit_0{
    background:#c0e0ff;
}
.istoriy_time_0{
    background:#d0eaff;
}
.ym_reg_0{height:30px;font-size:16px;}
.ymelec_0 {
    width:100%;
    background:#e0fdc0;
    border:2px solid #309060;
    border-radius:10px;
    overflow:clip;
    padding:5px;
    cursor:pointer;
}

.rabota_ymelca_0
{
    text-align:center;
    width:100%;
    background:#906030;
    border-radius:10px;
    cursor:pointer;
}
.rabota_izdelie_0{
    background:#e0c0a0;
    border-radius:8px 0px 0px 8px;
}
.rabota_ym_0{
    width:30%;
    background:#e0fdc0;
    border-radius:0px 8px 8px 0px;
    padding:10px;

}
.rabota_0{
    margin:20px 20px 0px 20px;
    height:200px;
    background:#fff8e0;
    border:2px solid black;
}

.yrok_ymelca_0{
    background:#901010;
    border-radius:10px;
    cursor:pointer;
}
.yrok_ym_0{
    background:#ffc0c0;
    border-radius:0px 8px 8px 0px;
    text-align:center;
    padding:10px;
}
.yrok_0{
     width:70%;
     background:#fff0e0;
     text-align:right;
     border-radius:8px 0px 0px 8px;
     padding:20px;
}
.yroks_ymelca_0{
    background:#101090;
    border-radius:10px;
    cursor:pointer;
}
.yroks_ym_0{
    background:#c0e0f0;
    border-radius:8px 0px 0px 8px;
    text-align:center;
    padding:10px;
}
.yroks_0{
     width:70%;
     background:#e0f0e0;
     border-radius:0px 8px 8px 0px;
     padding:10px;
}
.shema_ymelca_0{
     width:100%;
     text-align:center;
     background:#f0e0ff;
     border:2px solid #303060;
     border-radius:8px;
     cursor:pointer;
}
.shema_0{
     width:70%;
     background:#e0f0ff;
     border:2px solid #303060;
     border-radius:8px;
     padding:10px;
     overflow:hidden;
}

.shema_img_0{
    position:relative;
    width:100px;
    border:2px solid black;
    margin:1px;

    
}
.foto_ymelca_0 {
    overflow:clip;
    background:#fff8e0;
    width: 200px;
    margin:10px 10px 0px 10px;
    border: 2px solid #006030;
    border-radius: 10px;

}
.foto_ymelca_min_0 {
    overflow: clip;
    width: 75px;
    background:#fff8e0;
    border: 2px solid #405040;
    border-radius: 10px;
    margin:20px 20px 0px 20px;
}

.spisok_0 {
    margin:10px;
    border: 2px solid #306090;
    border-radius: 10px;
}
.ris_inter_0{
    border:2px solid green;
    border-radius:10px 10px 0px 0px;
    padding:5px 10px 5px 10px;
    

}
.foto_rab_0{
    position:clip;
    border:2px solid black;
    
    margin:1px;
}
.dizain_0 {
    
    width: 75px;
    height:100px;
    background:#fff8e0;
    border: 2px solid #405040;
    
    margin:5px;
     cursor:pointer;
}
#ten_menu_0 {
position:absolute;
width:100%;
height:10px;
top:50px;
background-color:black;
filter:blur(14px);
}
#ten_m_0 {
    position: absolute;
    width: 260px;
    
    top: 60px;
    background-color: black;
    filter: blur(15px);
    visibility:hidden;
}

#menu_line_0 {
    position: absolute;
    top: 0px;
    left: 0px;
    width: 100%;
    height: 50px;
    background-color: #80c0ff;
}

#menu_0 {
    position: absolute;
    top: 0px;
    left: 0px;
    width: 70%;
    height: 40px;
    
    
    background-color: #80c0ff;
    padding-top:5px;
    padding-left: 20px;
    font-size: 28px;
    font-weight: 700;
}

.c_m_g_0 {
    text-align: center;
    padding-left: 10px;
    padding-right: 10px;
    
    visibility: visible;
}

.c_m_o_0 {
    background-color: #a0d0ff;
    top: 40px;
    width: 280px;
    font-size: 26px;
    font-weight: 500;
    border: 2px solid black;
    position: absolute;
    overflow: hidden;
    visibility: hidden;
}

.c_m_0 {
    background-color: #a0d0ff;
    left: 0px;
    width: 100%;
    padding-left: 5px;
    padding-top: 1px;
    padding-bottom: 1px;
    border: 0;
    position: absolute;
    overflow: hidden;
    visibility: hidden;
}
.c_m_line_0_0,.c_m_line_1_0,.c_m_line_2_0,.c_m_line_3_0,.c_m_line_4_0,.c_m_line_5_0,.c_m_line_6_0,.c_m_line_7_0{
    position:absolute;
    width:100%;
    visibility:hidden;
}
.c_m_line_0_0 {
    top: 56px;
}

.c_m_line_1_0 {
    top: 58px;
}

.c_m_line_2_0 {
    top: 126px;
}

.c_m_line_3_0 {
    top: 128px;
}

.c_m_line_4_0 {
    top: 546px;
}

.c_m_line_5_0 {
    top: 548px;
}
.c_m_line_6_0 {
    top: 616px;
}

.c_m_line_7_0 {
    top: 618px;
}
