body

#okna_1 {
    position: absolute;
    width: 400px;
    height: 100%;
    right: 0px;
    border: 2px solid #104070;
    border-right:0px;
    border-top:0px;
    border-bottom:0px;
    background-color: #5080b0;
    overflow:hidden;
    visibility: visible;
}
#dvigenie_paneli_1 {
    position: absolute;
    width: 25px;
    height: 35px;
    top: 160px;
    right: 250px;
    border: 2px solid #104070;
    background-color: #5080b0;
    border-radius: 8px;
    
}
#dvig_ris_1{
    position:absolute;
    width:5px;
    height:25px;
    top:5px;
    left:8px;
    border:2px solid #104070;
    border-top:0px;
    border-bottom:0px;
}
#razdel_teni_1 {
    position: absolute;
    top: 122px;
    left: 10px;
    padding-left: 12px;
    font-size: 45px;
    font-style: italic;
    color: #102040;
}
#razdel_1 {
    position: absolute;
    left:10px;
    top: 120px;
    padding-left: 10px;
    font-size: 45px;
    font-style: italic;
    color: #c0e0ff;
}
#kn_za_str2_1 {
    position: absolute;
    top: 0px;
    width: 50px;
    height: 35px;
    background: #b0c0f0;
    border: 2px solid #305060;
    border-top: 0px;
    border-radius: 10px;
    border-top-left-radius: 0px;
    border-top-right-radius: 0px;
}

#ris_kn_za_str2_1 {
    position: absolute;
    top: 5px;
    left: 15px;
    width: 15px;
    height: 15px;
    border: 2px solid #304050;
    border-radius: 50%;
    border-bottom: 0px;
    border-bottom-left-radius: 0px;
    border-bottom-right-radius: 0px;
    border-right: 0px;
}

#ris_min2_1 {
    position: absolute;
    background: #b0c0f0;
    border: 2px solid #304050;
    border-left: 0px;
    border-right: 0px;
    border-bottom: 0px;
    top: 21px;
    left: 13px;
    width: 6px;
    height: 10px;
}

#ris_v2_1 {
    position: absolute;
    top: 12px;
    left: 10px;
    color: #304050;
}
#ris_str2_1 {
    position: absolute;
    left: 10px;
    width: 30px;
    top: 12px;
    height: 2px;
    background: #304050;
}

#kn_za_str_1 {
    position:absolute;
    top:0px;
    width:50px;
    height:35px;
    background:#b0c0f0;
    border:2px solid #305060;
    border-top:0px;
    border-radius:10px;
    border-top-left-radius:0px;
    border-top-right-radius:0px;
}
#ris_kn_za_str_1{
    position:absolute;
    top:5px;
    left:15px;
    width:15px;
    height:20px;
    border:2px solid #304050;
    
    border-radius:50%;
    border-bottom:0px;
    border-bottom-left-radius:0px;
    border-bottom-right-radius:0px;
    border-right:0px;

}
#ris_min_1{
    position:absolute;
    background:#b0c0f0;
    border:2px solid #304050;
    border-left:0px;
    border-right:0px;
    border-bottom:0px;
    top:10px;
    left:28px;
    width:6px;
    height:10px;
}
#ris_v_1{
    position:absolute;
    top:1px;
    left:24px;
    color:#304050;
}
#ris_str_1{
    position:absolute;
    left:10px;
    width:30px;
    top:20px;
    height:2px;
    background:#304050;
}


.c_h_1{
    position: absolute;
    border:2px solid #104070; 
    border-bottom-color: #e0f0ff;
    border-left: 0px;
    border-right: 0px;
    width:100%;
    margin-left: -20px;
}
.c_gl_p_1{
  position:absolute;
  top:200px;
  left:30px;
  
  height:300px;
  border-radius:10px;
  background-color:#c0d0ff;
  font-size:26px;
  padding-left:20px;
  padding-top:10px;

  color:black;
  cursor: default;
}
#gl_p_metka_1{
    position: absolute;
    border: 2px solid #904020;
    background: red;
    border-radius:8px;
    width: 8px;
    height: 8px;
    margin-left: -5px;

}
.c_ten_vibronogo_p_1 {
    position: absolute;
    width:730px;
    left: 40px;
    top:264px;
    background-color: black;
    border-radius:40%;
    filter: blur(8px);
}
.c_ogl_vibrono_copiy_1 {
    position: absolute;
    border: 2px solid #104070;
    padding: 5px 15px;
    top:264px;
    font-size: 32px;
    left: 40px;
    color: #b0f0e0;
    
    border-radius: 10px;
    
    text-align: center;
    background-color: #3090c0;
}

.c_ten_p_1 {
    position: absolute;
    width: 6px;
    
    height:38px;    
    background-color: black;
    filter: blur(3px);
}
.c_p_1{
position:absolute;
  
  border: 2px solid #104070;
  border-radius: 10px 0px 0px 10px;
  padding:3px;
  font-size:26px;
  left:40px;
  color:#104070;
  text-align:left;
  background-color:#a0c0ff;
}
.c_ten_1 {
    position: absolute;
    width:350px;
    height:20px;
    top:0px;
    left:0px;
    background-color:black;
    border-radius:10px;
    filter: blur(10px);
    visibility:hidden;
}
#ten_stranici_1 {
    position: absolute;
    height:100%;
    left:126px;
    right:270px;
    top: 240px;
    background-color: black;
    filter: blur(8px);
}

#stranica_1 {
    position: absolute;
    
    left: 125px;
    right: 280px;
    top: 240px;
    overflow: hidden;
    border-radius: 5px;
    background-color: #102040;
    visibility: visible;
}
#razd_1_p_1_zagl_1{
    width:100%;
    text-align:center;

}
#text_stranici_1 {
    width: 100%;
    background-color: white;
    border-radius: 3px;
    visibility: visible;
}
.tm_1{
    display:none;
}

.tot_1{
    color:black;
    width:100%;
    
}
#ten_kn_nazad_1 {
    position: absolute;
    background-color: black;
    width: 50px;
    height: 60px;
    border-radius: 40%;
    filter:blur(5px);
    
}
#kn_nazad_1 {
    position: absolute;
    background-color: #5080b0;
    border: 2px solid #104070;
    width: 45px;
    height: 45px;
    border-radius: 40%;
    color:#104070;
    font-size: 40px;
    font-weight: 800;
    text-align:center;
    padding-top:10px;
    
}
.c_svet_okna_1{
    position:absolute;
    top:3px;
    left:4px;
    right:4px;
    height:3px;
    background-color:white;
    filter:blur(3px);
}
.c_ten_okna_1 {
    position: absolute;
    top:30px;
    left: 1px;
    right: 1px;
    height: 3px;
    background-color: black;
    
    filter: blur(3px);
}


.c_okno_1 {
    position: absolute;
    background-color: #40a0d0;
    left: 20px;
    width: 240px;
    height:200px;
    border-radius: 10px;
    border: 2px solid #104070;
    font-size: 22px;
    font-weight: 500;
    visibility: visible;
}

.c_okno_name_1 {
    position: absolute;
    color:#d0ffe0;
    padding-left: 10px;
    visibility: visible;
}

.c_okno_text_1 {
    position: absolute;
    right: 0px;
    left: 0px;
    
    top: 35px;
    background-color:#fff8e0;
    font-language-override: normal;
    font-display: auto;
    
    overflow: hidden;
    font-size: 17px;
    visibility: visible;
}
.c_okno_knopki_1 {
    position: absolute;
    width: 20px;
    height: 20px;
    top: 3px;
    border: 2px groove #306090;
    background-color: #40a0d0;
}


#predupr_1{
    position:absolute;
    top:300px;
    left:150px;
   right:150px;
    font-size:100px;
    color:red;
    text-align:center;
    border:5px groove red;
}
.c_na_meste_a_1{
    position:absolute;
    width:9px;
    height:6px;
    right:3px;
    top:8px;
    background-color:#c0ffe0;
}
.c_na_meste_b_1 {
    position: absolute;
    width:5px;
    height:2px;
    top:10px;
    left:3px;
    background-color:#306090;
}
.c_na_meste_c_1 {
    position: absolute;
    width: 2px;
    height: 10px;
    left: 8px;
    top: 6px;
    background-color: #306090;
} 
.c_svert_a_1 {
    position: absolute;
    width: 5px;
    height: 12px;
    right: 6px;
    bottom: 5px;
    background-color: #c0ffe0;
    border-top-left-radius:3px;
    border-bottom-left-radius:3px;
    border-top-right-radius:0px;
    border-bottom-right-radius:0px;
}
.c_svert_b_1 {
    position: absolute;
    width: 2px;
    height: 18px;
    right: 4px;
    bottom: 2px;
    background-color: #306090;
}
.peredel_1{
    position:absolute;
    border: 2px inset green;
}
.svet_nadpisi_1{
    position:absolute;
    line-height: 30px;
    word-spacing:5px;
    color:white;
    font-size: 24px;    
    filter:blur(3px);
}
.kn_stran_1,#isk_1{
background-color:#40a0d0;
    color:#d0ffe0;
    border:2px solid #104070;
    border-radius:10px;
    padding-top: 4px;
    padding-bottom: 8px;
    padding-left: 10px;
    padding-right: 10px;
    
    line-height: 30px;
    word-spacing:5px;

    font-size: 24px;    
    cursor:pointer;
}
.kn_stran_1{
position:absolute;
left:10px;
top:100px;
}

.reshenie_div_1{
    border:2px solid #5000a0;    
    padding-top: 4px;
    padding-bottom: 0px;
    padding-left: 15px;
    padding-right: 3px;
}
#ten_metka_1{
position:absolute;
    background-color: black;
    filter: blur(10px);
    visibility:hidden;
}
#metka_div_1{
    position:absolute;   
    background:#efffe0;    
    border:2px solid #00a010;    
    visibility:hidden;
    border-radius: 10px;
}    
#metka_treug_1{
    position:absolute;
    visibility:hidden;
}

#ten_interes_1{
    position:absolute;
    background-color: black;
    filter: blur(10px);
    visibility:hidden;
}
#interes_div_1{
    position:absolute;   
    background:#ffefe0;    
    border:2px solid #804020;    
    border-radius: 10px;
    visibility:hidden;
}
#interes_treug_1{
    position:absolute;
    visibility:hidden;
   
}
#kn_zakrit_1{
    text-align:center;
    width:30px;
    color:red;
    border:2px solid red;
    cursor:pointer;
}